[submodule "imj-audio/c/cpp.audio"]
	path = imj-audio/c/cpp.audio
	url = https://github.com/OlivierSohn/cpp.audio.git
[submodule "cpp.algorithms"]
	path = imj-audio/c/cpp.algorithms
	url = https://github.com/OlivierSohn/cpp.algorithms.git
