[submodule "imj-audio/c/cpp.audio"]
	path = imj-audio/c/cpp.audio
	url = git@github.com:OlivierSohn/cpp.audio.git
[submodule "cpp.algorithms"]
	path = imj-audio/c/cpp.algorithms
	url = git@github.com:OlivierSohn/cpp.algorithms.git
