# a hybrid mix of
#   https://github.com/commercialhaskell/stack/blob/master/appveyor.yml
# and, for building portaudio:
#   https://github.com/quiet/quiet.py/blob/master/appveyor.yml


# Disabled cache in hope of improving reliability of AppVeyor builds
#cache:
#- "c:\\sr" # stack root, short paths == fewer problems

#TODO retry with the msys2 of stack, the particular error I was trying to fix was because a header is missing on Windows,
# not because of missing c++17 features.

build: off

environment:
  matrix:
      - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
        APPVEYOR_SAVE_CACHE_ON_ERROR: false
        MSYSTEM: MINGW64
  global:
    STACK_ROOT: "c:\\sr"


before_build:
  - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" amd64
  - cd %APPVEYOR_BUILD_FOLDER%


build_script:
# build portaudio
  - git clone https://git.assembla.com/portaudio.git
  - cd portaudio
  - git checkout tags/pa_stable_v190600_20161030
  - cd ..
  - mkdir portaudio-build
  - cd portaudio-build
  - cmake ../portaudio -DCMAKE_BUILD_TYPE=RELEASE -DCMAKE_GENERATOR_PLATFORM="Visual Studio 14 2015 Win64"
  - msbuild portaudio.sln /property:Configuration=Release
  - cd ..
# rename lib and dll
  - cp C:\stack\portaudio-build\Release\portaudio_x64.dll C:\stack\portaudio-build\Release\portaudio.dll
  - cp C:\stack\portaudio-build\Release\portaudio_x64.lib C:\stack\portaudio-build\Release\portaudio.lib
  - dir C:\stack\portaudio-build\Release\

before_test:
# http://help.appveyor.com/discussions/problems/6312-curl-command-not-found
- set PATH=C:\Program Files\Git\mingw64\bin;%PATH%

- curl -sS -ostack.zip -L --insecure https://get.haskellstack.org/stable/windows-x86_64.zip
- 7z x stack.zip stack.exe

clone_folder: "c:\\stack"


test_script:
- git submodule update --init --recursive
- set PATH=C:\msys64\MINGW64\bin;C:\msys64\usr\bin;%PATH%
- bash -lc "pacman --noconfirm --sync --refresh --refresh pacman"
- bash -lc "pacman --noconfirm --sync --refresh --refresh --sysupgrade --sysupgrade"
- bash -lc "pacman -S --noconfirm --needed base-devel mingw-w64-i686-toolchain mingw-w64-x86_64-toolchain git subversion mercurial mingw-w64-i686-cmake mingw-w64-x86_64-cmake"
## This shows the version of gcc I want to use:
- c:\msys64\MINGW64\bin\gcc --version

- stack --resolver nightly-2018-06-07 --skip-msys --with-gcc=c:\msys64\MINGW64\bin\gcc setup > nul
- stack --resolver nightly-2018-06-07 --skip-msys --with-gcc=c:\msys64\MINGW64\bin\gcc exec -- gcc --version
- echo "" | stack --resolver nightly-2018-06-07 --skip-msys --with-gcc=c:\msys64\MINGW64\bin\gcc --no-terminal --extra-lib-dirs c:\msys64\MINGW64\lib\ --extra-lib-dirs C:\stack\portaudio-build\Release\ --extra-include-dirs c:\msys64\MINGW64\include\ --extra-include-dirs C:\stack\portaudio\include\ test imj-music --jobs 1

#- stack --with-gcc=c:\msys64\MINGW64\bin\gcc setup > nul
#- stack --with-gcc=c:\msys64\MINGW64\bin\gcc exec -- gcc --version
#- echo "" | stack --with-gcc=c:\msys64\MINGW64\bin\gcc --no-terminal --extra-lib-dirs c:\msys64\MINGW64\lib\ --extra-lib-dirs C:\stack\portaudio-build\Release\ --extra-include-dirs c:\msys64\MINGW64\include\ --extra-include-dirs C:\stack\portaudio\include\ test imj-music --jobs 1
